################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BitBlitz/FileContentIndex/b04d22be-3937-463b-8a51-a2a8268f7f7f.vsidx
