################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BitBlitz/FileContentIndex/b04d22be-3937-463b-8a51-a2a8268f7f7f.vsidx
/.vs/BitBlitz/FileContentIndex/c3b93264-3c83-4a5f-9050-0bce79a4b7d3.vsidx
